<div class="px-4 bg-sky-800 pt-20 pb-4">
  <div class="flex justify-center text-white text-3xl sm:text-4xl font-bold">
    <p>Denis-studio.com</p>
  </div>
  <div class="flex justify-center text-gray-300 my-8">
    <a routerLink="/paintings" class="mx-4">Shop</a>
    <a routerLink="/about-us" class="mx-4">About</a>
    <a routerLink="/contact-us" class="mx-4">Contact</a>
  </div>
  <div class="flex justify-center ">
    <div class="bg-white w-fit flex justify-center p-4 rounded-full mx-4">
      <a
        href="https://instagram.com/denhill30?igshid=M2RkZGJiMzhjOQ=="
        target="_blank"
        class="w-fit flex justify-center"
      >
        <i-feather name="instagram" class="text-[#c32aa3]"></i-feather>
      </a>
    </div>
    <div class="bg-white w-fit flex justify-center p-4 rounded-full mx-4">
      <a
        href="https://twitter.com/nkotanyidenis"
        target="_blank"
        class="w-fit flex justify-center"
      >
        <i-feather name="twitter" class="text-[#1da1f2]"></i-feather>
      </a>
    </div>
    <div class="bg-white w-fit flex justify-center p-4 rounded-full mx-4">
      <a
        href="https://www.facebook.com/denis.hill1/"
        target="_blank"
        class="w-fit flex justify-center"
      >
        <i-feather name="facebook" class="text-[#1877f2]"></i-feather>
      </a>
    </div>
  </div>
  <div class="mt-8">
    <p class="text-gray-300 text-center text-xs mb-8">Scan here for my social accounts.</p>
    <div class="flex justify-center">
      <img src="https://res.cloudinary.com/degbnnobs/image/upload/v1701784927/qr_code_y4kvou.png" alt="" class="w-[200px] rounded-md">
    </div>
  </div>
  <div class="bg-gray-500 w-1/2 mx-auto h-[0.05rem] mt-8 mb-4"></div>
  <div class="flex justify-center text-gray-300">
    <p>Copyright <span class="mx-"><a routerLink="/dashboard">©</a></span> {{ year }}, Denis MPABUKA</p>
  </div>
</div>
