<div class="px-4 bg-gray-700 py-20">
  <div class="flex justify-center text-white text-4xl font-bold">
    <p>Denis-studio.com</p>
  </div>
  <div class="flex justify-center text-gray-300 my-8">
    <a routerLink="/paintings" class="mx-4">Shop</a>
    <a routerLink="/about-us" class="mx-4">About</a>
    <a routerLink="/contact-us" class="mx-4">Contact</a>
  </div>
  <div class="flex justify-center">
    <div class="bg-white w-fit flex justify-center p-4 rounded-full mx-4">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="w-fit flex justify-center"
      >
        <i-feather name="instagram" class="text-[#c32aa3]"></i-feather>
      </a>
    </div>
    <div class="bg-white w-fit flex justify-center p-4 rounded-full mx-4">
      <a
        href="https://instagram.com"
        target="_blank"
        class="w-fit flex justify-center"
      >
        <i-feather name="twitter" class="text-[#1da1f2]"></i-feather>
      </a>
    </div>
    <div class="bg-white w-fit flex justify-center p-4 rounded-full mx-4">
      <a
        href="https://instagram.com"
        target="_blank"
        class="w-fit flex justify-center"
      >
        <i-feather name="facebook" class="text-[#1877f2]"></i-feather>
      </a>
    </div>
  </div>
  <div class="bg-gray-500 w-1/2 mx-auto h-[0.05rem] mt-16 mb-4"></div>
  <div class="flex justify-center text-gray-300">
    <p>Copyright ©{{ year }}, Denis MPABUKA</p>
  </div>
</div>
