<!-- <div
  class="bg-[url('https://1.bp.blogspot.com/-Rwv10KFfmdI/XnZtID-frdI/AAAAAAAAFcI/FXX1poCmELgdIB2b8iZB7oEpKtxdtHdtgCLcBGAsYHQ/s1600/P1090864%2B-%2BCopy.jpg')] bg-center w-full bg-no-repeat bg-cover"
>
  <div class="bg-slate-400 bg-opacity-60 w-full text-center p-16">
    <p class="sm:text-3xl md:text-5xl lg:text-9xl font-bold">ABOUT US</p>
    <p class="md:text-xl lg:text-3xl py-4">
      Get to know about me and my works!
    </p>
  </div>
</div> -->
<div class="px-4 bg-sky-50 pb-20 pt-14 md:pt-16">
  <div
    class="flex flex-col md:justify-between md:flex-row items-center py-0 md:py-10 lg:py-20 md:w-[90%] lg:w-[70%] m-auto"
  >
    <div class="w-full md:w-1/2 text-center md:mr-8 flex flex-col">
      <div class="order-2 md:order-1">
        <img
          src="https://res.cloudinary.com/degbnnobs/image/upload/v1701782260/unnamed_gqcv9t.jpg"
          alt=""
          class="rounded-md lg:rounded-full w-full lg:w-[30rem] lg:h-[27rem] xl:h-[30rem] object-cover m-auto object-top"
        />
      </div>
      <p class="font-bold text-gray-700 mt-4 order-1 md:order-2">
        Denis Nkotanyi M.
      </p>
    </div>
    <div class="w-full md:w-1/2 flex flex-col justify-center lg:pr-16">
      <div class="mb-8">
        <p
          class="text-3xl font-bold mb-4 mt-8 md:mt-0 text-center md:text-left"
        >
          Biography
        </p>
        <p class="text-justify text-gray-700">
          Denis Mpabuka is African contemporary artist from Rwanda,works Inema
          Arts Center,he is a self-taught visual artist He started painting out
          of a need to be financially self reliant, as well as wanting to have a
          lifestyle that allowed him to express himself through his work. His
          inspiration stems from the various cultural identities he encounters
          through his own heritage, traveling experiences, and his surroundings.
          His work can be found at the Inema Art Gallery in Kigali, Kacyiru.
          <br />
          <br />
          Denis Mpabuka is gifted in creating narrative-centred paintings. His
          work marries the real and the abstract, which results in visuals that
          are at once familiar and deeply engaging. With an eye for details,
          Denis uses colourful strokes to express a variety of moods which
          pertain to each unique piece.
        </p>
      </div>
      <div class="flex justify-center mb-10 md:mb-0">
        <div class="bg-sky-100 w-fit flex justify-center p-4 rounded-full mx-4">
          <a
            href="https://instagram.com/denhill30?igshid=M2RkZGJiMzhjOQ=="
            target="_blank"
            class="w-fit flex justify-center"
          >
            <i-feather name="instagram" class="text-[#c32aa3]"></i-feather>
          </a>
        </div>
        <div class="bg-sky-100 w-fit flex justify-center p-4 rounded-full mx-4">
          <a
            href="https://twitter.com/nkotanyidenis"
            target="_blank"
            class="w-fit flex justify-center"
          >
            <i-feather name="twitter" class="text-[#1da1f2]"></i-feather>
          </a>
        </div>
        <div class="bg-sky-100 w-fit flex justify-center p-4 rounded-full mx-4">
          <a
            href="https://www.facebook.com/denis.hill1/"
            target="_blank"
            class="w-fit flex justify-center"
          >
            <i-feather name="facebook" class="text-[#1877f2]"></i-feather>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="text-3xl capitalize font-bold text-center mb-8 md:mb-0">
      Custom Artworks
    </p>
  </div>

  <div class="p-0 md:p-16">
    <div class="bg-red-20 lg:w-[50vw] lg:mx-auto">
      <p class="text-gray-700 text-justify">
        A custom commissioned artwork is a great option if you are looking to
        tailor a piece to suit your space.
      </p>
      <p class="text-gray-700 text-justify">
        Over the years I have created many bespoke artworks to suit homes around
        the world. I am experienced in working closely with individual
        collectors to produce a unique piece or set that perfectly fits each
        space.
      </p>
      <p
        class="text-sky-800 p-4 md:p-8 text-center capitalize font-bold text-lg mb-2"
      >
        Required information:
      </p>
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2 bg-sky-300 p-4 rounded mb-4">
        <div class="mb-6">
          <p class="font-bold">Size</p>
          <p class="text-gray-700 text-justify">
            To begin with we need to establish the quantity and size ideal for
            your space.
          </p>
          <p class="text-gray-700 text-justify">
            If you are unsure you may like to email photo's of the room/ space
            and wall measurements for input on finding the perfect size.
          </p>
        </div>
        <div class="mb-6">
          <p class="font-bold">Orientation</p>
          <p class="text-gray-700 text-justify">
            Select whether your artwork will be hung landscape or portrait.
          </p>
        </div>
        <div class="mb-6">
          <p class="font-bold capitalize">Composition and colour palette</p>
          <p class="text-gray-700 text-justify">
            As a starting point please select 1-3 images of my previous artworks
            that you connect with and email screen shots through with your
            quotation request. Further discussions on composition and colour
            selection will follow from there.
          </p>
          <p
            class="italic text-gray-700 text-justify font-bold text-sm border-l-8 p-4 my-4 border-l-sky-700"
          >
            "Dear collectors, please understand the beauty of my work is that it
            is created intuitively and as a result every original artwork is
            completely unique. You can rest assured that your investment will be
            100% unique."
          </p>
        </div>
      </div>
      <div class="md:ml-4 md:w-1/2 mb-6">
        <div class="">
          <p class="font-bold capitalize">Other information</p>
        </div>
        <div>
          <p class="text-gray-700 mb-6">
            For the quotation proposal I will need:
          </p>
        </div>
        <div>
          <ol>
            <li class="text-gray-700 mb-6 text-justify">
              <span class="text-black font-bold">1.</span> Shipping address -
              International shipping costs will be calculated according to size
              & delivery location, please provide your Zip code & Country for
              quote.
            </li>
            <li class="text-gray-700 mb-6 text-justify">
              <span class="text-black font-bold">2.</span> Materials - All
              materials used in making my art working is professional, archival
              quality so your painting will likely outlast us both! Please
              select if you would like the painting on paper (size limitations)
              or stretched cotton canvas. Also for canvas orders please select
              Timber floating frame or no frame.
            </li>
          </ol>
        </div>
        <div>
          <p class="font-bold">Amendments</p>
          <p>
            I welcome my collectors input & each quotation allows for up to 2
            minor compositional amendments during the process. Further changes
            can be requested at an additional fee (quoted separately).
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-[url('https://res.cloudinary.com/degbnnobs/image/upload/v1701253107/my_work/Copacetic_pqflza.jpg')] bg-top bg-no-repeat bg-cover h-auto"
  >
    <div
      class="bg-sky-800 bg-opacity-40 w-full h-full flex flex-col lg:flex-row px-10 lg:px-0 py-20"
    >
      <div
        class="bg-sky-50 h-auto lg:w-1/3 lg:m-4 xl:m-16 p-8 xl:p-16 text-justify rounded-xl relative lg:hover:scale-110 lg:transition-all lg:ease-in-out"
      >
        <!-- <img
          src="../../assets/paint2.png"
          alt=""
          class="w-20 top-[-4rem] left-[35%] sm:w-28 md:w-36 lg:w-48 absolute lg:top-[-10rem] lg:left-[30%] "
        /> -->
        <p class="text-center font-bold text-sky-800 text-xl pb-6 uppercase">
          Commission Process
        </p>
        <p class="z-10 text-gray-700">
          A limited number of scheduled commission slots are offered per year.
          Mailing list subscribers will be notified when the next round of slots
          will be available for booking. I will confirm my earliest availability
          on your inquiry. Generally custom pieces take 3-5weeks to complete.
        </p>
      </div>

      <div
        class="bg-sky-50 h-auto lg:w-1/3 my-16 lg:m-4 xl:m-16 p-8 xl:p-16 text-justify rounded-xl relative lg:hover:scale-110 lg:transition-all lg:ease-in-out"
      >
        <!-- <img
          src="../../assets/paint3.png"
          alt=""
          class="w-20 top-[-4rem] left-[35%] sm:w-28 md:w-36 lg:w-48 absolute lg:top-[-10rem] lg:left-[30%] "
        /> -->
        <p class="text-center font-bold text-sky-800 text-xl pb-6 uppercase">
          Deposit
        </p>
        <p class="z-10 text-gray-700">
          To secure your scheduled slot, a 50% deposit is required prior to
          commencing work. Payable via visa and other means of payments .
          Balance is due on completion (prior to shipping/ pick up)
        </p>
      </div>

      <div
        class="bg-sky-50 h-auto lg:w-1/3 lg:m-4 xl:m-16 p-8 xl:p-16 text-justify rounded-xl relative lg:hover:scale-110 lg:transition-all lg:ease-in-out"
      >
        <!-- <img
          src="../../assets/paint1.png"
          alt=""
          class="w-20 top-[-4rem] left-[35%] sm:w-28 md:w-36 lg:w-48 absolute lg:top-[-10rem] lg:left-[30%] "
        /> -->
        <p class="text-center font-bold text-sky-800 text-xl pb-6 uppercase">
          Progress
        </p>
        <p class="z-10 text-gray-700">
          Let the magic happen! Throughout the creation process you will be kept
          updated with progress pictures and video direct from the studio for
          your reference & consideration. You literally get to watch your
          original coming to life!
        </p>
      </div>
    </div>
  </div>

  <div
    class="w-full md:w-[70vw] m-auto pt-20 flex flex-col justify-center md:flex-row items-center"
  >
    <div class="w-full text-justify md:text-lg lg:w-1/2 flex flex-col">
      <p class="text-gray-700">
        Currently, Denis has an ongoing series of paintings titled "1000 faces"
        showcasing a semi-abstract portrait style of beautiful faces. His use of
        abstract colours and facial features blur the lines of conventional
        beauty within the context of cultural and ethnic standards throughout
        the world. Each face is inspired by the vast multitude of people Denis
        has encountered throughout his life. He expresses the remarkable beauty
        he sees in each one of them, thus making every portrait completely
        unique. Denis Mpabuka aims to produce 1000 individual faces to complete
        this series. <br />
        <br />
        On a day to day basis, Denis Mpabuka dedicates his time to mentoring
        young aspiring artists by teaching art classes at the Inema Art Centre.
        Furthermore, he contributes his efforts in running day to day sales in
        the Inema Art Gallery.
      </p>
      <button class="mt-16 text-white rounded-md h-max">
        <a routerLink="/contact-us" class="px-8 py-4 bg-sky-800 rounded-md"
          >Contact Me
        </a>
      </button>
    </div>

    <div class="w-full hidden lg:block lg:w-1/2">
      <img src="../../assets/paint7.png" alt="" class="w-full lg:ml-8" />
    </div>
  </div>
</div>
