<!-- <div
  class="bg-[url('https://1.bp.blogspot.com/-Rwv10KFfmdI/XnZtID-frdI/AAAAAAAAFcI/FXX1poCmELgdIB2b8iZB7oEpKtxdtHdtgCLcBGAsYHQ/s1600/P1090864%2B-%2BCopy.jpg')] bg-center w-full bg-no-repeat bg-cover"
>
  <div class="bg-slate-400 bg-opacity-60 w-full text-center p-16">
    <p class="sm:text-3xl md:text-5xl lg:text-9xl font-bold">ABOUT US</p>
    <p class="md:text-xl lg:text-3xl py-4">
      Get to know about me and my works!
    </p>
  </div>
</div> -->
<div class="px-4 bg-gray-300 pb-20">
  <div class="flex flex-col md:flex-row py-20 md:w-[70%] m-auto">
    <div class="w-full md:w-1/2 text-center flex flex-col">
      <div class="order-2 md:order-1">
        <img
          src="https://res.cloudinary.com/https-housingprotector-rw/image/upload/v1699347381/profile_xi0eob.png"
          alt=""
          class="md:rounded-full w-full md:w-[30rem] md:h-[30rem] object-cover m-auto object-top"
        />
      </div>
      <p class="font-bold text-gray-700 mt-4 order-1 md:order-2">Denis Nkotanyi M.</p>
    </div>
    <div class="w-full md:w-1/2 flex flex-col justify-center md:pr-16">
      <div class="mb-8">
        <p class="text-3xl font-bold mb-4 mt-8 md:mt-0">Biography</p>
        <p class="text-justify text-gray-700">
          Article evident arrived express highest men did boy. Mistress sensible
          entirely am so. Quick can manor smart money hopes worth too. Comfort
          produce husband boy her had hearing. Sit amet massa vitae tortor
          condimentum lacinia quis. Ornare arcu dui vivamus arcu felis bibendum
          ut. Consectetur adipiscing elit duis tristique sollicitudin. Volutpat
          lacus laoreet non curabitur. Magna fringilla urna porttitor rhoncus.
          Ultricies leo integer malesuada nunc vel risus commodo viverra. Ipsum
          a arcu cursus vitae congue. Imperdiet dui accumsan sit amet nulla
          facilisi. Tincidunt dui ut ornare lectus sit. Phasellus faucibus
          scelerisque eleifend donec pretium vulputate sapien nec. Eget gravida
          cum sociis natoque.
        </p>
      </div>
      <div class="flex justify-center">
        <div
          class="bg-gray-200 w-fit flex justify-center p-4 rounded-full mx-4"
        >
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="w-fit flex justify-center"
          >
            <i-feather name="instagram" class="text-[#c32aa3]"></i-feather>
          </a>
        </div>
        <div
          class="bg-gray-200 w-fit flex justify-center p-4 rounded-full mx-4"
        >
          <a
            href="https://instagram.com"
            target="_blank"
            class="w-fit flex justify-center"
          >
            <i-feather name="twitter" class="text-[#1da1f2]"></i-feather>
          </a>
        </div>
        <div
          class="bg-gray-200 w-fit flex justify-center p-4 rounded-full mx-4"
        >
          <a
            href="https://instagram.com"
            target="_blank"
            class="w-fit flex justify-center"
          >
            <i-feather name="facebook" class="text-[#1877f2]"></i-feather>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-[url('https://d1ee3oaj5b5ueh.cloudfront.net/thumbs/1200x2000_processed_art_2023_08_2658ba9d-264e-48c3-bc19-871e96972dc9-main-master.jpg')] bg-top bg-no-repeat bg-cover h-[60vh]"
  >
    <div class="bg-slate-800 bg-opacity-80 w-full h-full flex">
      <div
        class="bg-gray-200 h-[60%] w-[60%] my-auto m-16 flex flex-col justify-center px-16 text-justify rounded-xl relative hover:scale-110 transition-all ease-in-out"
      >
        <img
          src="../../assets/paint2.png"
          alt=""
          class="w-48 absolute top-[-6rem] left-[35%]"
        />
        <p class="z-10 font-bold">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim non
          accusamus quo et sed atque saepe fuga minima. Ullam repellat maiores
          voluptatem cum reiciendis obcaecati beatae tempora ad omnis? Ab illum
          alias in reiciendis, maiores error nam odio fuga optio impedit nisi
          voluptates suscipit quis iusto velit minus sit! Ipsa?
        </p>
      </div>

      <div
        class="bg-gray-200 h-[60%] w-[60%] my-auto m-16 flex flex-col justify-center px-16 text-justify rounded-xl relative hover:scale-110 transition-all ease-in-out"
      >
        <img
          src="../../assets/paint3.png"
          alt=""
          class="w-48 absolute top-[-6rem] left-[35%]"
        />
        <p class="z-10 font-bold">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim non
          accusamus quo et sed atque saepe fuga minima. Ullam repellat maiores
          voluptatem cum reiciendis obcaecati beatae tempora ad omnis? Ab illum
          alias in reiciendis, maiores error nam odio fuga optio impedit nisi
          voluptates suscipit quis iusto velit minus sit! Ipsa?
        </p>
      </div>

      <div
        class="bg-gray-200 h-[60%] w-[60%] my-auto m-16 flex flex-col justify-center px-16 text-justify rounded-xl relative hover:scale-110 transition-all ease-in-out"
      >
        <img
          src="../../assets/paint1.png"
          alt=""
          class="w-48 absolute top-[-6rem] left-[35%]"
        />
        <p class="z-10 font-bold">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim non
          accusamus quo et sed atque saepe fuga minima. Ullam repellat maiores
          voluptatem cum reiciendis obcaecati beatae tempora ad omnis? Ab illum
          alias in reiciendis, maiores error nam odio fuga optio impedit nisi
          voluptates suscipit quis iusto velit minus sit! Ipsa?
        </p>
      </div>
    </div>
  </div>

  <div class="w-[60%] m-auto pt-20 flex" >
    <div class="w-1/2">
      <img src="../../assets/paint7.png" alt="">
    </div>
    <p class="text-justify text-lg w-1/2">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex ullam officia
      mollitia tenetur quibusdam explicabo fuga doloribus praesentium totam?
      Accusamus magnam sapiente vel possimus quam obcaecati ducimus sequi
      nesciunt. Assumenda voluptates impedit fuga quas ullam minima ipsa quis
      unde, labore natus, sed, rerum sunt fugiat distinctio hic dolor aliquam
      exercitationem sint. Architecto ducimus itaque dolorum! Minima
      perspiciatis laborum, nesciunt neque corrupti, magni consectetur sunt ex
      expedita id eligendi, ullam velit assumenda veniam totam beatae hic
      pariatur! Voluptate iste beatae quia numquam consequuntur ducimus dolore
      sequi, pariatur illum quasi voluptates id nemo ad deserunt rem facilis?
      Excepturi unde saepe aut harum et sit eius nihil hic vel possimus
      reiciendis exercitationem fugiat, magnam corrupti nulla dicta quod
      doloremque obcaecati maxime esse debitis mollitia. Voluptas, sunt
      doloremque modi dolor eligendi delectus hic laboriosam est quo atque
      quibusdam eius consectetur assumenda facere possimus dolorum! Illum
      aliquam optio maiores esse dicta aliquid qui quas quae, possimus sit ad,
      veritatis enim atque tenetur recusandae distinctio dolore ducimus
      reiciendis ipsum, minus maxime sed! Obcaecati saepe unde quos quam esse
      earum illo perspiciatis, animi, officiis fuga voluptatem qui alias
      architecto omnis necessitatibus magnam ad! Repudiandae beatae atque in
      asperiores ad consectetur dolore id adipisci odio inventore, aperiam
      obcaecati.
    </p>
  </div>
</div>
