<div
  class="bg-[url('https://res.cloudinary.com/degbnnobs/image/upload/v1701253026/my_work/Fearless_vpaniz.jpg')] bg-center md:bg-bottom w-full bg-no-repeat bg-cover pt-14 md:pt-16"
>
  <!-- <p class="text-9xl p-8">CONTACT US</p> -->
  <div class="bg-sky-800 bg-opacity-50 w-full text-center p-16">
    <p class="text-4xl md:text-5xl lg:text-9xl font-bold ">PAINTINGS</p>
    <p class="md:text-xl lg:text-3xl py-4 ">
      Get yourself the coolest paintings here!
    </p>
  </div>
</div>
<div class="px-4 bg-sky-50">
  <div class="pt-8">
    <div class="w-full flex flex-col md:flex-row md:justify-between mt-10 py-4   ">
      
      <div class="w-full md:w-[50%] flex justify-between  items-center my-6 border-2 rounded-md py-4 pl-6">
        <div class=" w-full">
          <input
          type="text"
          name=""
          id=""
          placeholder="Search paintings..."
          class="outline-none  rounded py- flex-1 w-full bg-sky-50"
          [(ngModel)]="searchText"
          #textInput
          (input)="textInput.value.length > 0 ? searchProductName(textInput.value) : getProducts()"
        />
        </div>

        
      </div>
      <div class="md:max-w-fit flex">
        <div class="w-full  flex justify-center items-center mr-4">
          <select
            [(ngModel)]="selectedCategory"
            (change)="ChangingCategory(selectedCategory)"
            class="outline-none cursor-pointer rounded border-2 px-4 py-4  flex-1 md:flex-auto bg-sky-50"
          >
            <option value="{{ defaultCategory }}">{{ defaultCategory }}</option>
            <option *ngFor="let category of categories">
              {{ category.name | titlecase }}
            </option>
          </select>
        </div>
        <div class="w-full  flex justify-center items-center">
          <select
            [(ngModel)]="selectedSortValue"
            (change)="ChangingSortValue(selectedSortValue)"
            class="outline-none cursor-pointer rounded border-2 px-4 py-4 flex-1 md:flex-auto bg-sky-50"
          >
            <option value="{{ defaultSort }}">{{ defaultSort }}</option>
            <option *ngFor="let sortValue of sortValues">
              {{ sortValue.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8 pb-20"
    *ngIf="products.length > 0"
  >
    <div class="relative xl:h-[40rem] lg:h-[30rem] h-[40rem] w-full shadow-2xl rounded-md lg:hover:scale-105 transition-all flex flex-col justify-start" *ngFor="let product of products">
      <div class="h-[60%] rounded-t-md  p-8">
        <img
          src="{{ product.image }}"
          alt=""
          class="w-full h-full object-cover rounded-t-md shadow-xl mx-auto"
        />
      </div>
      <div class=" relative  rounded-b-md px-8">
        <div class="text-center">
          <p class="text-3xl font-bold">{{ product.title |  uppercase}}</p>
        </div>
        <div class="text-center  flex justify-center items-center mt-4">
          <p class="text-xl font-bold text-sky-600" > ${{ product.currentPrice }}</p>
          <p
          *ngIf="product.previousPrice && product.inStock === 'yes'"
          class="line-through text-gray-500 ml-2"
        >
          ${{ product.previousPrice }}
        </p>
        </div>
        <div class="my-6 flex justify-center">
          <p class="text-lg text-center">{{product.description}}</p>
        </div>
        <div class="flex justify-center mt-4">
          <button (click)="onProductClick(product)" class="bg-sky-800 px-8 py-4 rounded-md text-white"> View details</button>
        </div>
  
      </div>
      <div 
      [ngClass]="product.inStock === 'no' ? 'bg-red-700' : 'bg-green-700'"
        class="absolute top-0 right-0  text-white  p-2 rounded-tr-md rounded-bl-md ">
        {{product.inStock === 'no' ? 'Sold Out' : 'In Stock'}}
          
        </div>
    </div>

    
  </div>
  <div *ngIf="products.length < 1" class="h-[70vh]">
    <p>NO ITEMS FOUND</p>
  </div>
</div>
